<div class="container">
     <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Add your tracker 
      </div>
      <div class="card-body">
        <form action="/addTracker-addnew" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="country" placeholder="Country" >
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="infect" placeholder="Infecteds!!" >
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="recover" placeholder="Recovereds!!" >
          </div>
          <div class="form-group">
           <input type="number" class="form-control" name="death" placeholder="Deaths!!" >
          </div>
          <div class="form-group">
            <input type="number" class="form-control" name="rest" placeholder="Rest Infected!!" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="user" placeholder="user" >
          </div>
          <button class="btn btn-primary btn-block">
            Upload
          </button>
        </form>
      </div>
    </div>
  </div>
</div>